.inspect {
    margin-top: 25px;
    text-align: center;
  }

.Form {
    display: flex;
    justify-content: center;
    text-align: left;
}

.loadingContainer {
    margin-top: 100px;
}

.dataContainer {
    margin-top: 20px;
}

.Profile {
    display: flex;
    justify-content: center;
    text-align: left;
}
