.Duel {
    margin-top: 25px;
    text-align: center;
}

.Form {
    margin-top: 25px;
}

.loadingContainer {
    margin-top: 100px;
}

.dataContainer {
    margin-top: 20px;
}

.usersContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}